html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
}

section{
    display: flex;
    flex-wrap: wrap;
}
.topSection{
    display: flex;
    order: 1;
}

.bottonSection{
    display: flex;
    order:2;
}

.rowSection{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 68%;
    order: 2;
}

.rowSection article{
    flex-basis: calc(50% - 40px);
}

.columnSection{
    display: flex;
    flex-basis: 34%;
    flex-direction: column-reverse;
    order: 3;
}

