html {
    font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
}

a {
  font-size: 20px;
}

.vibrateButton {
  border: 2px solid #000;
  cursor: pointer;
  animation: vibrate 0.2s infinite; 
}

.vibrateButton:hover {
  animation: paused; 
  background-color: green; 
  color: white;
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animatedLink {
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}

.animatedLink::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: green;
  transition: all 0.3s ease-in-out;
}

.animatedLink:hover {
  color: green;
}

.animatedLink:hover::after {
  width: 100%;
  left: 0;
}

.ball{
  width: 50px;
  height: 50px;
  background-color: rgb(32, 103, 54);
  border-radius: 50%;
  position: absolute;
  margin-top: 60px;
  left: 40%;
  animation: bounce 3s cubic-bezier(.64,1.12,.8,.95);
  animation-fill-mode: forwards;
}


@keyframes bounce {
  0% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  30% {
    transform: translateY(300px) scaleX(1) scaleY(0.7); 
  }
  50% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  65% {
    transform: translateY(300px) scaleX(1) scaleY(0.7); 
  }
  80% {
    transform: translateY(0) scaleX(1) scaleY(1); 
  }
  90% {
    transform: translateY(300px) scaleX(1) scaleY(-1); 
  }
  100% {
    transform: translateY(300px) scaleX(1) scaleY(1); 
  }
}

